body {
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
         /* CSS HEADER */
header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navHeader{
    display: flex;
}
.textHeader{
    margin: 10px;
    font-size: 25px;
}
.lupaPesquisa{
    margin: 5px;
    display: flex;
    height: 2rem;
    width: 15rem;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
}
.lupaPesquisa_01{
    margin: 3px;
   border: 0;
   outline:0;
}

     /* CSS SECTIONS */
.paiSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section01 {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: center;
    background-color: aqua;
    width: 100%;
}

.section02 {
    
    background-color: blue;
    height: 400px;
    width: 100%;

}

.section03 {
    background-color: #bbbbbb;
    display: flex;
    width: 100%;
}

.logoImg {
    height: 100px;
    width: 100px;
}

.logoImg_02 {
    height: 25.375;
    width: 45.0625rem;
}


/* /         //RODAPE//         */
.rodape {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(32, 0, 0), rgb(70, 0, 0), rgb(255, 0, 13));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: black;
    color: #ffffff;
}

.copyrig {
    flex-direction: column;
    display: flex;
    align-items: center;
    width:80%;
    border-top: 1px solid #ffffff;
}

.copyright {
    font-size: 1rem;
}