*{margin: 0; padding: 0; box-sizing: border-box;}

/*Classes Auxiliares*/
.contexto{max-width: 1280px; padding: 0 2%; margin: 0 auto;}

html, body{
    width: 100%;
    height: 100%;
}

header{
    background-color: #807E81;
    width: 100%;
}

header div.contexto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.contexto div#div-logo{
    width: 86px;
    height: 86px;
    background-image: url("img/logo_01.png");
    background-size: cover;
    background-position: center;
}

header div.contexto nav#menu-desktop ul{
    display: flex;
    list-style: none;
}

header div.contexto nav#menu-desktop ul li{
    margin: 0 20px;
}

header div.contexto nav#menu-desktop ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

section.banner {
    width: 100%;
    height: 100%;
    max-height: 500px;
    background-color: blak;
    background-image: url(img/);
    display: flex;
}

section.banner img {
    width: 100%;
    height: 100%;
    padding-bottom: px;
}

.container-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    width: 100%;

} 

.text {
  padding-left: 50px;
  
}

.text p {
  font-size: 25px;
  margin-top: 35px;
}

.text h1 {
  font-weight: bold;
  font-size: 70px;
  color: black;
} 

.teste {
  padding-right: 50px;
}

.text img {
  padding-left: 100px;
}



































.footer-clean {
  padding:50px 0;
  background-color:  black;
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

footer {
    background-color: bl;
}