/* RODAPE */

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.rodape {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(32, 0, 0), rgb(70, 0, 0), rgb(255, 0, 13));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    color: #ffffff;
}

.Footer {
    display: flex;
    text-align: left;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
}

.textTituloFooter {
    font-weight: bold;
    font-size: 20px;
}

.titleFooter{
    margin-bottom: 1rem;
}

.textFooter {
    list-style: none;
    font-weight: normal;
    font-size: 15px;
    margin-top: .5rem;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.copyrig {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 80%;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}

.copyrig p {
    font-size: 14px;
}


